body{
	background: url(background.jpg) no-repeat top center;
	font-family:arial;
}

a{
	color:#00FFFF;
	text-decoration:none;
}

canvas{
	background:#DC143C;
	border:1px #cccccc solid;
}

.container{
	margin:30px auto 0 auto;
	width:600px;
	oveflow:auto;
	position:relative;
}

#stats{
	width:590px;
	background:#333333;
	padding:5px;
	font-size:20px;
	font-weight:bold;
	color:#00FFFF;
	margin-bottom:5px;
	overflow:auto;
}

#score,#high_score{
	width:25%;
	height:50px;
	padding-top:20px;
	float:left;
	margin-right:5px;
	overflow:auto;
	background:#006400;
	text-alignment:center;
}

#reset_score{
	padding:10px;
	float:right;
}

#overlay{
	display:none;
	color:#ffffff;
	font-size:25px;
	text-align:center;
	position:absolute;
	top:170px;
	left:180px;
}

#overlay a{
	display:block;
	margin-top:10px;
	padding:10px;
	background:#666666;
}

#overlay a:hover{
	background:#333333;
}
